
img{
  width: 100% !important;
}

button:focus{
  box-shadow: none !important;
}

.search-form [ name="search"]{
  padding:5px 10px;
  outline: 1px solid black;
  border-radius: 5px;
  transition: outline 0.4s ease-out , border 0.4s ease-in;
}

.search-form [ name="search"]:focus{
  outline: 0;
  border: 2px solid pink;
}
